/* Define styles for available and booked seats */
.available {
  background-color: #45b29d;
  color: #fff;
  box-shadow: none;
}
.booked {
  background-color: #eee;
  cursor: not-allowed;
  color: #555;
}

/* Define styles for selected seats */
.selected {
  background-color: #f2a154;
  color: #fff;
}

/* Define styles for the row labels */
.row-label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #555;
  margin: 10px 0;
}

/* Define styles for the seat labels */
.seat-label {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

/* Define styles for the coach container */
.coach-container {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
}

/* Define styles for the seats */
.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

/* Define hover effect for available seats */
.available:hover {
  background-color: #2f8e7e;
  cursor: pointer;
}

/* Define hover effect for selected seats */
.selected:hover {
  background-color: #e18e3d;
  cursor: pointer;
}
